# Core ML
torch
torchvision
numpy
opencv-python-headless
ultralytics
transformers
pillow

# Web App
streamlit
fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings

# Utils
# pandas
# scikit-learn
